{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ODczNjYyMzQ0\u0022"
      },
      "ResponseBody": {
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637334601904321205",
        "etag": "ODczNjYyMzQ0",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "HOOICibwb9TGanNfurasUX5Eh\u002BLoHeWItoxogjtsRPg=",
            "secondaryKey": "YGLdy1g4dRixUKGqaGddTbFuONZ6FTwclnbh6gP51jM="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "UpdateWithETag1986225016",
        "deviceId": "UpdateWithETag405634285"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "UpdateWithETag1986225016",
        "managedBy": null,
        "deviceId": "UpdateWithETag405634285",
        "generationId": "637334601904670691",
        "etag": "Mzk0NzYyNTAz",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Xw0LUra143Y7Bqn7M47CVIFev\u002BlO24CKjYNtmMzkKws=",
            "secondaryKey": "wY07gjC3VZBdIoUfXhkF12u1BXeScJFq4fGgyUGaPzg="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285/modules/UpdateWithETag1986225016?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022Mzk0NzYyNTAz\u0022"
      },
      "RequestBody": "{\u0022moduleId\u0022:\u0022UpdateWithETag1986225016\u0022,\u0022managedBy\u0022:\u0022SomeOtherChangedValue\u0022,\u0022deviceId\u0022:\u0022UpdateWithETag405634285\u0022,\u0022generationId\u0022:\u0022637334601904670691\u0022,\u0022etag\u0022:\u0022Mzk0NzYyNTAz\u0022,\u0022connectionState\u0022:\u0022Disconnected\u0022,\u0022connectionStateUpdatedTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022lastActivityTime\u0022:\u00220001-01-01T00:00:00Z\u0022,\u0022cloudToDeviceMessageCount\u0022:0,\u0022authentication\u0022:{\u0022symmetricKey\u0022:{\u0022primaryKey\u0022:\u0022Xw0LUra143Y7Bqn7M47CVIFev\u002BlO24CKjYNtmMzkKws=\u0022,\u0022secondaryKey\u0022:\u0022wY07gjC3VZBdIoUfXhkF12u1BXeScJFq4fGgyUGaPzg=\u0022},\u0022x509Thumbprint\u0022:{},\u0022type\u0022:\u0022sas\u0022}}",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "iothub-errorcode": "PreconditionFailed"
      },
      "ResponseBody": {
        "Message": "ErrorCode:PreconditionFailed;PreconditionFailed",
        "ExceptionMessage": "Tracking ID:8f265c1bf1e8471bb84867a0e4bb6385-G:0-TimeStamp:08/19/2020 18:56:30"
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/UpdateWithETag405634285?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Sanitized",
    "RandomSeed": "518792752"
  }
}