{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice1825902645?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice1825902645"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022MzI2ODYyNzMz\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice1825902645",
        "generationId": "637334601653507970",
        "etag": "MzI2ODYyNzMz",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "rk1Zy3lF5IgD9n\u002BIRdlqFy4MIWni2QWCoTR8UOyglfQ=",
            "secondaryKey": "dc\u002BlWQpj/DxFHeTGBhgiNRkYXgs7/icYHXE3amufArA="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice1825902645/modules/IdentityLifecycleModule0-134012407?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "IdentityLifecycleModule0-134012407",
        "deviceId": "IdentityLifecycleDevice1825902645"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "IdentityLifecycleModule0-134012407",
        "managedBy": null,
        "deviceId": "IdentityLifecycleDevice1825902645",
        "generationId": "637334601659687193",
        "etag": "NDk1NDU3NzQ1",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "Syt1bPDNfPQBLfPq3xD3vsypS6JOAb5UgLCsniJj/JA=",
            "secondaryKey": "64OL7KThst5kj/kjSqHSBVD7mGvTlxJ8rrD6\u002B\u002BCKb2A="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice1825902645/modules?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022moduleId\u0022:\u0022IdentityLifecycleModule0-134012407\u0022,\u0022managedBy\u0022:null,\u0022dev[...]
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice1825902645?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Sanitized",
    "RandomSeed": "2034117883"
  }
}