{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceWithTwin1019384117?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "bulkDeviceWithTwin1019384117"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022OTExNzYzNTk2\u0022"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceWithTwin1019384117",
        "generationId": "637334601610317509",
        "etag": "OTExNzYzNTk2",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "p1EpiYQKF9dV3dVANqTMOx81vmTnZljc1kzwY8Z8GFk=",
            "secondaryKey": "oSrOwk\u002BeodGXnrKQWq/5G7dbTwII9hjNCWxbnMBgoyk="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022bulkDeviceWithTwin1019384117\u0022,\u0022moduleId\u0022:\u0022bulkModuleWithTwin349880774\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022properties\u0022:{\u0022desired\u0022:{\u0022user\u0022:\u0022userA\u0022}}},{\u002[...]
    {
      "RequestUri": "https://FakeHost.net/twins/bulkDeviceWithTwin1019384117/modules/bulkModuleWithTwin349880774?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deviceId": "bulkDeviceWithTwin1019384117",
        "moduleId": "bulkModuleWithTwin349880774",
        "etag": "AAAAAAAAAAE=",
        "deviceEtag": "ODE4MTI3NzE5",
        "status": "enabled",
        "statusUpdateTime": "0001-01-01T00:00:00Z",
        "connectionState": "Disconnected",
        "lastActivityTime": "0001-01-01T00:00:00Z",
        "cloudToDeviceMessageCount": 0,
        "authenticationType": "sas",
        "x509Thumbprint": {
          "primaryThumbprint": null,
          "secondaryThumbprint": null
        },
        "version": 2,
        "properties": {
          "desired": {
            "user": "userA",
            "$metadata": {
              "$lastUpdated": "2020-08-19T18:56:01.0917505Z",
              "$lastUpdatedVersion": 1,
              "user": {
                "$lastUpdated": "2020-08-19T18:56:01.0917505Z",
                "$lastUpdatedVersion": 1
              }
            },
            "$version": 1
          },
          "reported": {
            "$metadata": {
              "$lastUpdated": "2020-08-19T18:56:01.0917505Z",
              "$lastUpdatedVersion": 1
            },
            "$version": 1
          }
        }
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/bulkDeviceWithTwin1019384117?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Sanitized",
    "RandomSeed": "225948997"
  }
}