{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice733449647?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "deviceId": "IdentityLifecycleDevice733449647"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022NjU0NzQ1MjE0\u0022"
      },
      "ResponseBody": {
        "deviceId": "IdentityLifecycleDevice733449647",
        "generationId": "637334601815393669",
        "etag": "NjU0NzQ1MjE0",
        "connectionState": "Disconnected",
        "status": "enabled",
        "statusReason": null,
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "statusUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "q0kzuGDxbRFTBdDq6V61BiazF2jt\u002BznZhSszw59P4Cw=",
            "secondaryKey": "U68iE1FWEAaRTphsJl0nBRXTsGuFZ5PTdV\u002BeCSAL/a4="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        },
        "capabilities": {
          "iotEdge": false
        },
        "parentScopes": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice733449647/modules/IdentityLifecycleModule258468012?api-version=2020-03-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022\u0022"
      },
      "RequestBody": {
        "moduleId": "IdentityLifecycleModule258468012",
        "deviceId": "IdentityLifecycleDevice733449647"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "moduleId": "IdentityLifecycleModule258468012",
        "managedBy": null,
        "deviceId": "IdentityLifecycleDevice733449647",
        "generationId": "637334601821493933",
        "etag": "ODIzMzQwMjI2",
        "connectionState": "Disconnected",
        "connectionStateUpdatedTime": "0001-01-01T00:00:00",
        "lastActivityTime": "0001-01-01T00:00:00",
        "cloudToDeviceMessageCount": 0,
        "authentication": {
          "symmetricKey": {
            "primaryKey": "y2OlU2Vr1sied2rSvKFcKqG9PbT6tEgkaGTZ2at/HwY=",
            "secondaryKey": "obMfFlRhfpl6vznx4\u002BKqs0AqGjZSCyjmTEHXFcnn1W0="
          },
          "x509Thumbprint": {
            "primaryThumbprint": null,
            "secondaryThumbprint": null
          },
          "type": "sas"
        }
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices/IdentityLifecycleDevice733449647?api-version=2020-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Sanitized",
    "RandomSeed": "53265435"
  }
}