{
  "Entries": [
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice46214004\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1677703041\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice1020576207\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice104748052\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022},{\u0022id\u0022:\u0022jobDevice541056450\u0022,\u0022importMode\u0022:\u0022create\u0022,\u0022status\u0022:\u0022enabled\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "export",
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "9129010c-454a-4c1c-bc77-816af05fdfd2",
        "startTimeUtc": "2020-08-19T18:55:25.1982064Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/9129010c-454a-4c1c-bc77-816af05fdfd2?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "9129010c-454a-4c1c-bc77-816af05fdfd2",
        "startTimeUtc": "2020-08-19T18:55:25.1982064Z",
        "type": "export",
        "status": "enqueued",
        "progress": 0,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/9129010c-454a-4c1c-bc77-816af05fdfd2?api-version=2020-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "9129010c-454a-4c1c-bc77-816af05fdfd2",
        "startTimeUtc": "2020-08-19T18:55:25.1982064Z",
        "endTimeUtc": "2020-08-19T18:55:27.161204Z",
        "type": "export",
        "status": "completed",
        "progress": 100,
        "outputBlobContainerUri": "Sanitized",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
    {
      "RequestUri": "https://FakeHost.net/jobs/create?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "import",
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized",
        "outputBlobName": "Devices.txt",
        "storageAuthenticationType": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "87cc50c1-39a6-40de-9c98-74e5b1b1d876",
        "startTimeUtc": "2020-08-19T18:55:35.4409434Z",
        "type": "import",
        "status": "enqueued",
        "progress": 0,
        "inputBlobContainerUri": "Sanitized",
        "outputBlobContainerUri": "Sanitized",
        "outputBlobName": "Devices.txt",
        "excludeKeysInExport": false,
        "useSecondaryStorageAsSource": false
      }
    },
[...]
    {
      "RequestUri": "https://FakeHost.net/devices?api-version=2020-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022jobDevice46214004\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1677703041\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice1020576207\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice104748052\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022},{\u0022id\u0022:\u0022jobDevice541056450\u0022,\u0022importMode\u0022:\u0022deleteIfMatchETag\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "isSuccessful": true,
        "errors": [],
        "warnings": []
      }
    }
  ],
  "Variables": {
    "IOT_HUB_CONNECTION_STRING": "HostName=FakeHost.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Sanitized",
    "RandomSeed": "548749863",
    "STORAGE_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=vinageshtrack2iothub;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
  }
}